body {
    background-color: #C4848B;
}

.counter {
    width: 100%;
    height: 100%;
    position: relative;
}

.table {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.drink {
    height: 75px;
    width: 50px;
}