body {
    background-color: #C4848B;
}

.counter {
    width: 100%;
    height: 100%;
}

.table {
    width: 100%;
    top: 0;
    left: 0;
}

.drinks-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    top: 0;
    left: 0;
}

.drink {
    margin-bottom: 0px;
}

body {
    height: 100vh;
    overflow: hidden;
  } 
  
  .modal-window {
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    }
  
  .modal-message {
    background-color: #235347;
    border: 4px solid #163b32;
    font-size: 24px;
    width: 500px; 
    text-align: center;
    padding: 40px 80px;
  }
  
  .modal-dismiss {
    background-color: #C4848B;
    color: #235347;
    margin: 15px auto;
    padding: 10px 20px;
    text-align: center; 
    width: 300px;
  }
  